<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Tambahkan nuget.org sebagai prioritas pertama -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="QuickAcqNuGetSource" value="https://server-103-82-240-95.quickacq.com:21901/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<QuickAcqNuGetSource>
			<add key="Username" value="apikey" />
			<add key="ClearTextPassword" value="QA-NuGet-@Server" />
		</QuickAcqNuGetSource>
	</packageSourceCredentials>
	<packageSourceMapping>
		<!-- Pemetaan paket agar hanya paket dengan prefix "QuickAcq." yang dicari di server privat -->
		<packageSource key="QuickAcqNuGetSource">
			<package pattern="QuickAcq.*" />
			<package pattern="QuickFlow.*" />
		</packageSource>
		<!-- Semua paket lainnya akan dicari di nuget.org -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
